/*
Seletores css3
Seletores por strings

E[FOO*="bar"]  - Cujo valor do atributo foo contém a string "bar"
E[FOO$="bar"]  - Cujo valor do atributo foo termine com a string "bar"
E[FOO^="bar"]  - Cujo valor do atributo foo inicie a string "bar"
*/
a[href="#home"]{
  color:red;
}
a[href$="#home"]{
  color:green;
}
a[href^="#home"]{
  color:blue;
}
/*
  E:nth-child(n) - Elemento E que é o enésimo filho do seu elemento pai
*/
li:nth-child(2),li:nth-last-child(3){
  text-decoration: underline;
}
p:empty{
  background: red;
  height: 3px;
}
p:nth-of-type(2n+2){
  color: blue;
}
p:nth-last-of-type(2n+1){
  background: #ccc;
}
li:last-child{
  color: green;
}
li:first-child{
  color: blue;
}
li:nth-last-child(2){
  color: #ffcc00;
}
p:first-of-type{
  text-transform: uppercase;
}

h1 ~ h2{
  color: pink;
}

h1+h2{
  color: brown;
}

:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}

:not(a){
  color:red;
}
